<h1>Listing articles</h1>
 
<table>
  <tr>
    <th>Due date</th>
    <th>Title</th>
    <th>Content</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.dueDate %></td>    
      <td><%= article.title %></td>
      <td><%= article.content %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>