<%= form_for :article, url: articles_path do |f| %>
   <p>
    <%= f.label :dueDate %><br>
    <%= f.text_field :dueDate %>
  </p>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>