<p>
  <strong>Duedate:</strong>
  <%= @article.dueDate %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<%= link_to 'Back', articles_path %>